.formBox {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-color: white;
  margin: 10px 20%;
  border-radius: 10px;
  border: 1px solid;
  box-shadow: grey 5px 5px;

  .formElementText {
    margin: 10px;
    display: block;
  }
}

.buttonBox {
  display: flex;
  justify-content: center;
  flex-direction: row;

  .formButton {
    width: 100%;
  }
}
